{
    "openapi": "3.0.0",
    "info": {
        "title": "AgroZamin core api",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://agrocore.loc/api/v1/",
            "description": "Core API Server"
        }
    ],
    "paths": {
        "/admin/access-action": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Get all actions - with no example",
                "operationId": "a1cd8275d5d24eebbd845a7555278a26",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Store Accecc Action - with example",
                "operationId": "cc0bb0c772ee37df2f47b9b13d681791",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccessActionRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/access-action/{id}": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Get access action by id",
                "description": "Display the specified resource.",
                "operationId": "23d42fc825c11663722ad5cea78fb24c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessActionRequestSW"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Admin"
                ],
                "summary": "Update Access Action",
                "description": "Returns data for update",
                "operationId": "b005bb73c54affe30c5f980ef907533e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccessActionRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Admin"
                ],
                "summary": "Delete access action by id",
                "description": "Delete a record and returns no content",
                "operationId": "deleteAccessAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/access-action/{id}/edit": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Get access action by id for update",
                "description": "Show the form for editing the specified resource.",
                "operationId": "8d0c361d5b6593b5acac2c7105e0188f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/access-control": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Get all access controls",
                "operationId": "29398d5a01588c0b4e5975e287d91841",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Store Accecc Control - with example",
                "description": "Store a newly created resource in storage.",
                "operationId": "504d33e388b1eb57ddf52ce7c145f22a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccessControlRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/access-control/create": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Get data for create access control",
                "description": "Display the specified resource.",
                "operationId": "66934c271e6f26904009550554b10b25",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/access-control/{id}": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Get access control by id",
                "description": "Display the specified resource.",
                "operationId": "8e5d7d5c2a435b154d131a27cd11869f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Admin"
                ],
                "summary": "Update Access Control - with example",
                "description": "Update the specified resource in storage.\n\n\nStore a newly created resource in storage.",
                "operationId": "92c73d2ec9b1f2b7850ecf5f38fd6238",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccessControlRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Admin"
                ],
                "summary": "Delete access control by id",
                "description": "Delete a record and returns no content",
                "operationId": "deleteAccessControl",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/access-control/{id}/edit": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Get access control data for update",
                "description": "Show the form for editing the specified resource.\n\n/**\nDisplay the specified resource.",
                "operationId": "b81e26482b3beb4256a23f216dc3d6dd",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/agrobusiness/activity-type": {
            "get": {
                "tags": [
                    "Agrobusiness | ActivityType"
                ],
                "summary": "Get all activity-types",
                "operationId": "22a9b86c351b7b08ae73d430b6db1628",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Agrobusiness | ActivityType"
                ],
                "summary": "Store activity-type - with example",
                "operationId": "ec9ba6d97718a8964049ce927b08d2e4",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrobusinessActivityTypeRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrobusiness/activity-type/{form_organization}": {
            "post": {
                "tags": [
                    "Agrobusiness | ActivityType"
                ],
                "summary": "update activity-type",
                "operationId": "0a1f468d7143027f8bb3a465a4e12789",
                "parameters": [
                    {
                        "name": "activity-type",
                        "in": "path",
                        "description": "activity-type",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrobusinessActivityTypeRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Agrobusiness | ActivityType"
                ],
                "summary": "delete activity-type - with example",
                "operationId": "8fc01676cc81ab0ce3b2503e08bd575c",
                "parameters": [
                    {
                        "name": "activity-type",
                        "in": "path",
                        "description": "activity-type",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrobusiness/color": {
            "get": {
                "tags": [
                    "Agrobusiness | Color"
                ],
                "summary": "Get all Colors",
                "operationId": "6928a9aee911e1c35a7afc88325ce13e",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Agrobusiness | Color"
                ],
                "summary": "Store color - with example",
                "operationId": "43a11205ddd59787b9a63109de0fdac4",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrobusinessColorRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrobusiness/color/{form_organization}": {
            "post": {
                "tags": [
                    "Agrobusiness | Color"
                ],
                "summary": "update color",
                "operationId": "f684a67c9c68c33e720b7f7ce72cdc8c",
                "parameters": [
                    {
                        "name": "color",
                        "in": "path",
                        "description": "color",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrobusinessColorRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Agrobusiness | Color"
                ],
                "summary": "delete color - with example",
                "operationId": "bf4e1b10a81bdd4a561d67dd37260932",
                "parameters": [
                    {
                        "name": "color",
                        "in": "path",
                        "description": "color",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrobusiness/form-organization": {
            "get": {
                "tags": [
                    "Agrobusiness | FormOrganization"
                ],
                "summary": "Get all FormOrganizations",
                "operationId": "2a974a2c12281f3b05e812cebe5476d1",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Agrobusiness | FormOrganization"
                ],
                "summary": "Store form-organization - with example",
                "operationId": "958db889da53671c11705c1965305d42",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrobusinessFormOrganizationRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrobusiness/form-organization/{form_organization}": {
            "post": {
                "tags": [
                    "Agrobusiness | FormOrganization"
                ],
                "summary": "update form-organization",
                "operationId": "3801d80ae3a2a2acd9c7e7b6e62bb2f0",
                "parameters": [
                    {
                        "name": "form-organization",
                        "in": "path",
                        "description": "form-organization",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrobusinessFormOrganizationRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Agrobusiness | FormOrganization"
                ],
                "summary": "delete form-organization - with example",
                "operationId": "34023b2eb5157ded0afc12f8121a6e78",
                "parameters": [
                    {
                        "name": "form-organization",
                        "in": "path",
                        "description": "form-organization",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrobusiness/payment-type": {
            "get": {
                "tags": [
                    "Agrobusiness | PaymentType"
                ],
                "summary": "Get all PaymentTypes",
                "operationId": "ea490c07db0d3fd4d5b45ec71c210b78",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Agrobusiness | PaymentType"
                ],
                "summary": "Store PaymentType - with example",
                "operationId": "a208d9eb00747e4c472d301c5793e9c2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrobusinessPaymentTypeRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrobusiness/payment-type/{form_organization}": {
            "post": {
                "tags": [
                    "Agrobusiness | PaymentType"
                ],
                "summary": "update PaymentType",
                "operationId": "030852c654bee24cb54e9a9c926763fd",
                "parameters": [
                    {
                        "name": "PaymentType",
                        "in": "path",
                        "description": "PaymentType",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrobusinessPaymentTypeRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Agrobusiness | PaymentType"
                ],
                "summary": "delete PaymentType - with example",
                "operationId": "08c802f8c5ea6d310e374ef848ba8547",
                "parameters": [
                    {
                        "name": "PaymentType",
                        "in": "path",
                        "description": "PaymentType",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrozamin/agro-center": {
            "get": {
                "tags": [
                    "Agrozamin | AgroCenter"
                ],
                "summary": "Get all agrocenter",
                "operationId": "540d4ce4d88c771c52b4ba41206652e6",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Agrozamin | AgroCenter"
                ],
                "summary": "Store agrocenter - with example",
                "operationId": "a4d09e3e36c464cbfde44e50d69de38d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrozaminAgroCenterRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrozamin/agro-canter/{id}": {
            "put": {
                "tags": [
                    "Agrozamin | AgroCenter"
                ],
                "summary": "update agrocenter",
                "operationId": "c7ba126adbfd517b22320b76a7e49b89",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrozaminAgroCenterRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrozamin/agro-center/{id}": {
            "delete": {
                "tags": [
                    "Agrozamin | AgroCenter"
                ],
                "summary": "delete agrocenter - with example",
                "operationId": "9b24813e232ef54744cd44da31ffd050",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrozamin/agrobook-category": {
            "get": {
                "tags": [
                    "Agrozamin | Agrobook Category"
                ],
                "summary": "Get all categories",
                "operationId": "94835408f651126d697a1072b2831235",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Agrozamin | Agrobook Category"
                ],
                "summary": "Store agrobook category - with example",
                "operationId": "ffbdc5f1e42816c68cedb2cb1204c40a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrozaminAgrobookCategoryRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrozamin/agrobook-category/{agrobook-category}": {
            "put": {
                "tags": [
                    "Agrozamin | Agrobook Category"
                ],
                "summary": "update category",
                "operationId": "fa03a7b40d799d292aa328ca19025525",
                "parameters": [
                    {
                        "name": "agrobook-category",
                        "in": "path",
                        "description": "agrobook-category",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrozaminAgrobookCategoryRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Agrozamin | Agrobook Category"
                ],
                "summary": "delete category - with example",
                "operationId": "843433c46afa7ea585daf625c0016ef0",
                "parameters": [
                    {
                        "name": "agrobook-category",
                        "in": "path",
                        "description": "agrobook-category",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrozamin/agrobook": {
            "get": {
                "tags": [
                    "Agrozamin | Agrobook"
                ],
                "summary": "Get all books",
                "operationId": "7f7f8ad7892ccd2a61b155411496dc63",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Agrozamin | Agrobook"
                ],
                "summary": "Store agrobook - with example",
                "operationId": "185cd8e6d5e7eb4a379987c3ee96724b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrozaminAgrobookRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrozamin/agrobook/{agrobook}": {
            "post": {
                "tags": [
                    "Agrozamin | Agrobook"
                ],
                "summary": "update agrobook",
                "operationId": "b2ead93740837de6e3cd0ac4cd7cc7e5",
                "parameters": [
                    {
                        "name": "agrobook",
                        "in": "path",
                        "description": "agrobook",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrozaminAgrobookRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Agrozamin | Agrobook"
                ],
                "summary": "delete agrobook - with example",
                "operationId": "5748dfad9babd35bd9eb32d74b511e11",
                "parameters": [
                    {
                        "name": "agrobook",
                        "in": "path",
                        "description": "agrobook",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrozamin/lib-category": {
            "get": {
                "tags": [
                    "Agrozamin | Library Category"
                ],
                "summary": "Get all categories",
                "operationId": "49d004184e951eaf7167166e9eeedca5",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Agrozamin | Library Category"
                ],
                "summary": "library category - with example",
                "operationId": "34e472df4dc10eb17da18f72d029afa7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrozaminLibraryCategoryRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrozamin/lib-category/{lib-category}": {
            "put": {
                "tags": [
                    "Agrozamin | Library Category"
                ],
                "summary": "update category",
                "operationId": "a18f499538d7bbc9ed87435791c8a458",
                "parameters": [
                    {
                        "name": "partner",
                        "in": "path",
                        "description": "partner",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrozaminLibraryCategoryRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Agrozamin | Library Category"
                ],
                "summary": "delete service - with example",
                "operationId": "9f9408cbe104d840643254a8b8332113",
                "parameters": [
                    {
                        "name": "lib-category",
                        "in": "path",
                        "description": "lib-category",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrozamin/lib-content": {
            "get": {
                "tags": [
                    "Agrozamin | Library Content"
                ],
                "summary": "Get all contents",
                "operationId": "8ca65b940b33be747761c62b78dbb73b",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Agrozamin | Library Content"
                ],
                "summary": "library content - with example",
                "operationId": "a9b8c820508aceb6113c6f5aa471138b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrozaminLibraryContentRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrozamin/lib-content/{lib-content}": {
            "put": {
                "tags": [
                    "Agrozamin | Library Content"
                ],
                "summary": "update content",
                "operationId": "2ab7d98ec3a4899a83c0ccefba66f8f5",
                "parameters": [
                    {
                        "name": "partner",
                        "in": "path",
                        "description": "partner",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrozaminLibraryContentRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Agrozamin | Library Content"
                ],
                "summary": "delete service - with example",
                "operationId": "db29956196e013f5fd00b7598c02a3c5",
                "parameters": [
                    {
                        "name": "lib-content",
                        "in": "path",
                        "description": "lib-content",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrozamin/our-service": {
            "get": {
                "tags": [
                    "Agrozamin | Our Service"
                ],
                "summary": "Get all service",
                "operationId": "a4accbbbc3cbbfae4a2022a43bc3f96d",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Agrozamin | Our Service"
                ],
                "summary": "Store service - with example",
                "operationId": "557abedc81ccc226a795886f1ee1682c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OurServiceRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrozamin/our-service/{service}": {
            "put": {
                "tags": [
                    "Agrozamin | Our Service"
                ],
                "summary": "update our-service",
                "operationId": "905ba57341ba088f5ab51cada9cae97a",
                "parameters": [
                    {
                        "name": "service",
                        "in": "path",
                        "description": "service",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OurServiceRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Agrozamin | Our Service"
                ],
                "summary": "delete service - with example",
                "operationId": "8534afa4c783f46c2f2b66b19f653921",
                "parameters": [
                    {
                        "name": "service",
                        "in": "path",
                        "description": "service",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrozamin/our-service/status/{id}": {
            "put": {
                "tags": [
                    "Agrozamin | Our Service"
                ],
                "summary": "Update existing service status",
                "description": "Return updated service data",
                "operationId": "updateServiceStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Service id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OurServiceStatusRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/agrozamin/partner?type={type}": {
            "get": {
                "tags": [
                    "Agrozamin Partner"
                ],
                "summary": "Get all",
                "operationId": "ccdf93195ab56cd573e5e13a2ce5917a",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "type",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrozamin/partner": {
            "post": {
                "tags": [
                    "Agrozamin Partner"
                ],
                "summary": "store service - with example",
                "operationId": "86e2b7489539e82fd7eedbbb77113652",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrozaminPartnerServiceRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrozamin/partner/{partner}": {
            "put": {
                "tags": [
                    "Agrozamin Partner"
                ],
                "summary": "update service - with example",
                "operationId": "bed8a0cc92b144e57028728891d1b490",
                "parameters": [
                    {
                        "name": "partner",
                        "in": "path",
                        "description": "partner",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrozaminPartnerServiceRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Agrozamin Partner"
                ],
                "summary": "delete service - with example",
                "operationId": "5870fcba9c77613f0407fae7f7c46f43",
                "parameters": [
                    {
                        "name": "service",
                        "in": "path",
                        "description": "service",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrozamin/service": {
            "get": {
                "tags": [
                    "Agrozamin Service"
                ],
                "summary": "Get all services",
                "operationId": "9debe8cb6bc66b12a6f70839fd109be5",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Agrozamin Service"
                ],
                "summary": "store service - with example",
                "operationId": "c751c20fcbfe4310d4f7c7a0a74eb849",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrozaminServiceRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrozamin/service/{service}": {
            "put": {
                "tags": [
                    "Agrozamin Service"
                ],
                "summary": "update service - with example",
                "operationId": "5d7762ed7a5b00d04e945fea565d9138",
                "parameters": [
                    {
                        "name": "service",
                        "in": "path",
                        "description": "service",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgrozaminServiceRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Agrozamin Service"
                ],
                "summary": "delete service - with example",
                "operationId": "ebe43e499e54dcd5a0ed8542bf2c36f5",
                "parameters": [
                    {
                        "name": "service",
                        "in": "path",
                        "description": "service",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrozamin/user-request?project_id={project_id}": {
            "get": {
                "tags": [
                    "Agrozamin | User requests"
                ],
                "summary": "Get all users requests",
                "operationId": "f65a5577d8ca6b99ddb8711cc2c2f506",
                "parameters": [
                    {
                        "name": "project_id",
                        "in": "path",
                        "description": "project_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/agrozamin/user-request/status": {
            "put": {
                "tags": [
                    "Agrozamin | User requests"
                ],
                "summary": "Users requests status",
                "operationId": "c0a6886358790e15d06f91140025f608",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AzUserRequestSW"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/announcement?name={name}&username={username}&category={category}": {
            "get": {
                "tags": [
                    "Announcement"
                ],
                "summary": "Get all announcements",
                "operationId": "b6b71bd62f90a4a3f6b0499a78ff81eb",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "announcement name",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "username",
                        "in": "path",
                        "description": "username",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Alisa Alisherova"
                    },
                    {
                        "name": "category",
                        "in": "path",
                        "description": "category",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/announcement/{announcement}/edit": {
            "get": {
                "tags": [
                    "Announcement"
                ],
                "summary": "get announcement data for update",
                "operationId": "0584abda1e96838667bdea503de6b38e",
                "parameters": [
                    {
                        "name": "announcement",
                        "in": "path",
                        "description": "announcement",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
[...]
